@import '~bulma/css/bulma.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/* ANIMATIONS */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spin {
  animation: spin 2s infinite linear;
}

/* GENERAL */

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style-type: disc;
}

.navbar-link:not(.is-arrowless)::after {
  /* Change dropdown Arrow */
  border-color: white;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fill-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: white;
}

.timer-input {
  width: 65%;
  padding: 40px;
  text-align: center;
}

/* BULMA OVERRIDES */

.navbar-burger > span {
  /* Burger menu color */
  background-color: white;
}

/* TABLET */
@media only screen and (max-width: 768px) {
  .timer-input {
    width: 80%;
  }
}

/* MOBILE */
@media only screen and (max-width: 500px) {
  .timer-input {
    width: 95%;
  }
}
